<div>
  <div class="row">
    <div class="col-lg-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-8">
      <div>
        <p class="text-center h1 mt-3" style="font-weight: bolder">
          DANH SÁCH SẢN PHẨM
        </p>
      </div>
      <div>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Launch demo modal
        </button>

        <!-- Modal -->
        <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Modal title
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div>
                    <div>
                      <label class="form-label"> Tên sản phẩm </label>
                      <input
                        class="form-control"
                        placeholder="Nhập tên sản phẩm..."
                        formControlName="productName"
                      />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    (click)="refreshPage()"
                  >
                    Hủy bỏ
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Thêm sản phẩm
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div>
        <button (click)="deleteProduct()">Xóa sản phẩm</button>
      </div>
      <ag-grid-angular
        style="width: 100%; height: 100vh"
        class="ag-theme-alpine mt-3"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [rowSelection]="'multiple'"
        [animateRows]="true"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
