<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="../../assets/img/carousel1.png" />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../../assets/img/carousel2.png" />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../../assets/img/carousel3.png" />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- About section-->
<div class="about_section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about_taital_main">
          <div class="about_taital">About Us</div>
          <p class="about_text">
            Chúng tôi luôn tự hào sẽ mang đến cho quý khách hàng những trải
            nghiệm dịch vụ cao cấp.
          </p>
          <p class="about_text">
            Cùng với hàng ngàn mẫu mã điện thoại khác nhau, đến từ các hãng nổi
            tiếng trên thế giới như Apple, Samsung, Oppo,... Đảm bảo chinh phục
            được những vị khách khó tính nhất.
          </p>
          <div class="read_bt"><a href="#">Read More</a></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about_img mt-3">
          <img src="../../assets/img/aboutus.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="best_seller layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="best_taital text-center">Best Seller</h1>
        <p class="text-center text-muted h4">TO THE WORLD</p>
      </div>

      <div class="col-lg-4 mt-3">
        <div class="mt-5">
          <div class="d-flex">
            <h4>INTELLIGENT PROCESSOR</h4>
            <i class="mt-2 mx-3 fa-solid fa-microchip fa-2xl"></i>
          </div>
          <span
            >Vi xử lí hiện đại, tốc độ cao, giúp mọi ứng dụng, xử lý mượt mà,
            không gián đoạn</span
          >
        </div>
        <div class="mt-5">
          <div class="d-flex">
            <h4>HD SURROUND AUDIO</h4>
            <i class="mt-2 mx-3 fa-solid fa-headphones fa-2xl"></i>
          </div>
          <span
            >Âm thanh sống động, mang lại cảm giác siêu chân thực, khiến bạn hòa
            mình vào thế giới của riêng mình</span
          >
        </div>
        <div class="mt-5">
          <div class="d-flex">
            <h4>STYLISH BEVEL EDGES</h4>
            <i class="mt-2 mx-3 fa-solid fa-ruler fa-2xl"></i>
          </div>
          <span
            >Thiết kế viền cạnh phong cách, khiến chiếc smartphone thành phụ
            kiện thời trang của bạn</span
          >
        </div>
      </div>

      <div class="col-lg-4 best_img mt-3">
        <img src="../../assets/img/iphone14.png" />
      </div>
      <div class="col-lg-4 mt-3">
        <div class="mt-5">
          <div class="d-flex">
            <h4>5.0 WIFI SPECS</h4>
            <i class="mt-2 mx-3 fa-solid fa-wifi fa-2xl"></i>
          </div>
          <span
            >Hỗ trợ hệ thống Wifi 5.0, tăng tốc độ kết nối giúp trải nghiệm của
            bạn trở nên tốt hơn bao giờ hết</span
          >
        </div>
        <div class="mt-5">
          <div class="d-flex">
            <h4>MULIT TASKING & THREAD</h4>
            <i class="mt-2 mx-3 fa-solid fa-list-check fa-2xl"></i>
          </div>
          <span
            >Hỗ trợ đa nhiệm, tối ưu tính năng đa luồng làm bạn thoải mái trải
            nghiệm nhiều ứng dụng khác nhau</span
          >
        </div>
        <div class="mt-5">
          <div class="d-flex">
            <h4>CLOUD STORAGE</h4>
            <i class="mt-2 mx-3 fa-solid fa-cloud fa-2xl"></i>
          </div>
          <span>Cung cấp lưu trữ đám mây, giúp bảo vệ dữ liệu</span>
        </div>
      </div>
    </div>
  </div>
</div>
